<%- include('base', { title: 'Home'}) %>
<div class="text-center">
<h2 class="my-5" style="font-family: Helvetica, Arial, sans-serif;color:#015222"><strong>Welcome to SAML Access Management Foundation</strong></h1>
<div class="container">
    <a class="btn btn-primary mb-5" style="background-color:#015222;color:aliceblue" href="https://saml-access-management-foundation.onrender.com/login">SAML Authentication</a>
    <a class="btn btn-primary mb-5" style="background-color:#015222;color:aliceblue" href="#">Without Authentication</a>

</div>
</div>
